includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/Http/Controllers
        - app/Services
        - app/Repositories

    # The level 9 is the highest level
    level: 3

    ignoreErrors:
        - '#Access to an undefined property#'
        - '#Match expression does not handle remaining value#'

    parallel:
        maximumNumberOfProcesses: 1